[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
black = "==20.8b1"
isort = "*"
flake9 = "*"
pytest-xdist = "*"

[requires]
python_version = "3.9.1"
